html,
body,
.page {
    height: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: scroll;
}

h1 {
    color: red;
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 80%;
    margin: 0 auto;
    background: black;
}

.header-page {
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0 20px;
    text-align: center;
}

.header-menu {
    margin-left: 65%;
}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-menu ul li {
    float: right;
}

.header-menu ul li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.menu {
    height: 40px;
    background: black;
    /*border: 1px solid white;*/
}

.activate {
    background: red;
    color: white;
    font-weight: bold;
}

.menu_left ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.menu_left ul li {
    float: left;
}

.menu_left ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.menu_left ul li a:hover {
    background: darkred;
    color: white;
    font-style: italic;
}

/*.header-menu ul li a {
    text-decoration: none;
}*/

.menu_right {
    margin-left: 0%;
}

.searchbar {
    width: 296px;
    height: 30px;
    display: inline;
}

.img-carousel {
    width: 100%;
    height: 600px;
}

.content {
    margin-top: 40px;
}
