html,
body,
.page {
    height: 100%;
    margin: 0;
    background: black;
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: scroll;
}

h1 {
    color: red;
    margin: 0;
}

h2 {
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    width: 100%;
    margin: 0 auto;
    background: black;
}

/* index.html */

.header-page {
    background-color: black;
    height: 70px;
    align-items: center;
}

.header-title {
    margin: 12px 20px;
    text-align: center;
    float: left;
}

.header-menu {
    margin-top: 5px;
    float: right;
}

.header-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-menu ul li {
    float: right;
}

.header-menu ul li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

#photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu {
    height: 40px;
    background: black;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu ul li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.activate {
    background: red;
    color: white;
    font-weight: bold;
}

.menu ul li a:hover {
    background: darkred;
    color: white;
    font-style: italic;
}

.frm {
float: right;
}

.searchbar {
    height: 30px;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchbar:focus {
    width: 560px;
}

.btn_search {
    margin-top: 10px;
    height: 30px;
    float: right;
    margin-right: 14px;
    background: red;
    color: white;
}

.content {
    margin-top: 12px;
}

/* home.html */

.img-carousel {
    width: 100%;
    height: 820px;
}

.btn {
    color: white;
}

.card {
    background: black;
}
